
:root {
    --font: arial;
    --primary-color: #fa0;
    --light: #eee;
}

/* Universal Selector*/
* {
    box-sizing: border-box;
    margin: .5em 0;
}

header{
    text-align: center;
    align-content: center;
    padding: 10px;
}

@media(min-width:35em) {
    .col {
        display: table-cell;
    }
    .\31 {
        width: 5%;
    }
    .\33 {
        width: 22%;
    }
    .\34 {
        width: 30%;
    }
    .\35 {
        width: 40%;
    }
    .\32 {
        width: 15%;
    }
    .row {
        display: table;
        border-spacing: 1em 0;
    }
}


/*Generic Selectors*/
.w-100,
.row {
    width: 100%;
}

/* Input Selector*/
.card:focus,
hr {
    outline: 0;
    border: solid var(--primary-color);
}

.card,
pre {
    padding: 1em;
    border: solid var(--light);
}


a:hover,
.btn:hover {
    opacity: .6;
}


.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 var(--font);
}



h3 {
    font: 300 2em var(--font);
}

h4 {
    font: 300 1.5em var(--font);
    font-weight: 600;
}

h2 {
    font: 300 2.2em var(--font);
}

h1 {
    font: 300 2.5em var(--font);
}

a {
    color: black;
    text-decoration: none;
}

.btn.primary {
    color: #fff;
    background: var(--primary-color);
    border: solid var(--primary-color);
}

pre {
    overflow: auto;
}


td,
th {
    padding: 1em;
    text-align: left;
    border-bottom: solid var(--light);
}



nav{
    padding: 1em;
    border: solid var(--light);
    width: 100%;
}

header{
  background-color: black;
  color: White;
}

footer{
  background-color: #ffaa00;
  color: gray
}

/*Id Selector*/
#fecha{
  text-align: right;
  background-color: lightgray;
  font-family: sans-serif;
  font-size: 12px;
}

/*Class Selector*/
li.cuestion{
  font-weight: bold;
  font-size: 16px;
}

article.biblio{
  color: gray;
  font-size: 12px;
  font-family: sans-serif;
  padding-top: 20px;
}
