
:root {
    --font          : arial;
    --primary-color : #fa0;
    --light         : #eee;
}

/* Universal Selector */

* {
  box-sizing : border-box;
  margin     : .5em 0;
}

header {
  padding       : 10px;
  text-align    : center;
  align-content : center;
  border: medium groove green;
}

body {
  font-size : 16px;
}

/**
 * Usamos body::after, para indicar que no todo el texto será una marca de agua
 * sólo lo que está indicado en content, será la marca de agua
 */

body::after {
  /* Para evitar que se mueva */
  content                : "A01701813";
  display                : flex;
  position               : fixed;
  top                    : 0;
  right                  : 0;
  bottom                 : 0;
  left                   : 0;
  color                  : rgba(40, 167, 118, 0.34);
  align-items            : flex-end;
  font-size              : 5em;
  justify-content        : flex-end;
  -moz-user-select       : none;
  -ms-user-select        : none;
  -o-user-select         : none;
  -webkit-user-select    : none;
  user-select            : none;
  -moz-pointer-events    : none;
  -ms-pointer-events     : none;
  -o-pointer-events      : none;
  -webkit-pointer-events : none;
  pointer-events         : none;
  /* Verticalmente alineación */
  /* Horizontalmente */
  /**
  * Es importante poner lo siguiente, para evitar que la marca de agua
  * intervenga con los clicks y botones
  */
}

@media(min-width:35em)
   {
  .col {
    display : table-cell;
  }

  .\31 {
    width : 5%;
  }

  .\33 {
    width : 22%;
  }

  .\34 {
    width : 30%;
  }

  .\35 {
    width : 40%;
  }

  .\32 {
    width : 15%;
  }

  .row {
    display        : table;
    border-spacing : 1em 0;
  }
}

/* Generic Selectors */

.row,
.w-100 {
  width : 100%;
}

/* Input Selector */

.card:focus,
hr {
  border  : solid var(--primary-color);
  outline : 0;
}

.card,
pre {
  padding : 1em;
  border  : solid var(--light);
}

.btn:hover,
a:hover {
  opacity : .6;
}

.c {
  max-width : 60em;
  margin    : auto;
  padding   : 1em;
  font      : 1em/1.6 var(--font);
}

h3 {
  background-color : rgb(231, 196, 47);
  font             : 300 2em var(--font);
}

h4 {
  background-color : black;
  font             : 300 1.5em var(--font);
  font-weight      : 600;
}

h2 {
  font : 300 2.2em var(--font);
    background-color : green;
}

h1 {
  background-color : black;
  font             : 300 2.5em var(--font);
}

.supremo {
  font-family: cursive;
  background-color: red;
}
.menor {
  background-color: black;
}

a {
  color           : black;
  text-decoration : none;
}

.btn.primary {
  color      : #fff;
  border     : solid var(--primary-color);
  background : var(--primary-color);
}

pre {
  overflow : auto;
}

td,
th {
  padding       : 1em;
  border-bottom : solid var(--light);
  text-align    : left;
}

nav {
  width   : 100%;
  padding : 1em;
  border  : solid var(--light);
}

header {
  color : White;
}

footer {
  color            : gray;
  background-color : #ffaa00;
}

/* Id Selector */

#fecha {
  background-color : lightgray;
  text-align       : right;
  font-family      : sans-serif;
  font-size        : 12px;
}

/* Class Selector */

li.cuestion {
  font-size   : 16px;
  font-weight : bold;
}

article.biblio {
  padding-top : 20px;
  color       : gray;
  font-family : sans-serif;
  font-size   : 12px;
}

.btn {
  padding        : 1em;
  border         : solid;
  background     : none;
  text-transform : uppercase;
  font           : .7em var(--font);
  letter-spacing : .1em;
}

.menor {
    position: relative;

}

.menor .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px ;
    position: absolute;
    z-index: 1;
    /*Posicionar correctamente la pestaña*/
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

/*Estp es para el triangulito*/
.menor .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.menor:hover .tooltiptext {
    visibility: visible;
}

#div1{
  width: 350px;
      height: 190px;
      padding: 10px;
      border: 1px solid #aaaaaa;
      background-image: url("playa.jpg");
}
